body{
    display: flex;
    max-width:100vw;
    min-height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom right,navy,green);
    background-repeat:no-repeat;
    /*background-color: #faa28f;*/
}
img{
    display:block;
    max-width: 100%;
    max-height:100%;

}


.inputDiv{
    display: flex;
    width:50%;
    flex-direction: column;
    align-items:center;
    border-radius:20px;
    /*background-color:rgb(211, 207, 207);*/
    background-image:linear-gradient(to bottom right,green,navy);
    /*background-color:white;*/
    margin: 1%;
}
pre{
    background-color:white;
}
.refresh{
    background-color:#69c5f0;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}
/* .displayDiv{
    overflow: auto;
    min-width:300px;
    max-width: 400px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items:center;
    border-radius:20px;
    /* background-color:#bcdbfa; 
    margin-bottom: 1%;
} */
.displayDiv{
    overflow: auto;
    max-width: 400px;
    border-radius: 20px;
    background-color: white;
}
textarea{
    background-color: #bcdbfa;
    padding: 5px;
    max-width:100%;
    border-radius:15px;
}
.submit{
    padding:5px;
    border-width: 0px;
    max-width:40%;
    background-color:#69c5f0;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 30%;
    margin-right: auto;
}